body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.otp-field {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.otp-field__input {
  width: 40px;
  height: 50px;
  box-sizing: border-box;
  border: 0.1rem solid #aaa;
  border-radius: 0.5rem;
  color: #1c529b;
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  margin: 0px 4px;
  border-color:#1c529b;

}

.otp-field__input:focus {
  border-color:#1c529b;
  
}


.otp-field__input ::-webkit-outer-spin-button,
.otp-field__input::-webkit-inner-spin-button {
  display: none;
}
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(111, 0, 255);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(150, 161, 223);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(140, 173, 216);
}